
figcaption.caption {
  margin: 5px 0 10px 0;
}

.invisible {
  display: none;
}

.mime_icon {
  width: 18px !important;
  height: 18px !important;
}

.ease-in-out {
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

img {
  height: auto;
  max-width: 100%;
}

/** MODULES ***/
/** MODULES ***/
/** MODULES ***/
/** MODULES ***/

.mod_steckbriefe_titelseite {
  .row {
    .image_container {
      margin: 0;
      position: relative;
      .figure-caption {
        position: absolute;
        bottom: 10px;
        right: 0;
        color: #fff;
        padding: 0 1rem;
        width: 100%;
        text-align: right;
        font-size: 10px !important;
        text-transform: uppercase;
      }
    }
  }
}

.mod_steckbriefe {
  .image_container {
    margin: 0;
  }
}

/** gallery_creator */
.gallery_creator {
  .image_container {
    margin: 0;
  }

  li {
    list-style: none;
  }
  .backLink {
    text-align: right;
  }

  .list_albums {
    padding: 0;
  }

  .list_albums > li {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
  }

  .list_albums .col_1 {
    margin-bottom: 10px;
  }

  .list_albums .image_container {
    width: 100%;
  }
  .caption {
    display: block;
    margin: 10px 0 15px 0;
    line-height: normal;
  }

  .list_albums .image_container {
    width: 100%;
  }

  .album_preview .image_container {
    margin: 0;
  }
  .albumComment {
    margin-bottom: 1rem;
  }
}

/** End gallery_creator **/


/** News **/
// Hide pagination
.infinity-scroll > .mod_pagination {
  display:none;
}

.layout_news_titelseite {
  margin-bottom: 2rem;
  .image_container {
    position: relative;
    margin: 0;
    img{
      width: 100%;
      height:auto;
    }
    .caption {
      padding: 15% .75rem .75rem;
      clip-path: polygon(0 22%, 100% 0, 100% 100%, 0% 100%);
      position: absolute;
      height: 40%;
      width: 100%;
      background-color: $red;
      bottom: 0;
      left: 0;
      margin: 0;
      .figure-caption-inner{
        text-transform: uppercase;
        color: #fff;
        font-size: 1rem;
        font-weight: 800;
      }
    }
  }
}

.info {
  time {
    margin-right: 1rem;
  }
}

/** End News **/

/** Jahresprogramm **/
.mod_rsz_jahresprogramm_list_module {
  .table {
    .col_1 {
      min-width: 100px;
    }
    .hidden {
      display: none;
    }
    .header:after {
      font-family: $icon-font-name;
      content: "\f0dc";
      padding-left: 5px;
    }
    .headerSortDown:after {
      font-family: $icon-font-name;
      content: "\f0de";
      padding-left: 5px;
    }
    .headerSortUp:after {
      font-family: $icon-font-name;
      content: "\f0dd";
      padding-left: 5px;
    }
  }
  .dropdown-menu {
    padding-left: 10px;
  }
}

/** Downloads **/
.download-element {
  line-height: 2;
}


/** Start Sponsoren **/
.ce_sponsoren {
  .row {
    margin-bottom: 50px;
  }
}

/** End Sponsoren **/

/** Accordion **/
.ce_accordion {
  .toggler {
    font-size: 1.25rem !important;
    color: $link-color;
    // for open accordions
    .ui-icon-triangle-1-s::before {
      font-family: "Font Awesome 5 Pro";
      content: "\f078";
      padding-right: 20px;
    }
    // for closed accordions
    .ui-icon-triangle-1-e::before {
      font-family: "Font Awesome 5 Pro";
      content: "\f054";
      padding-right: 20px;
    }
  }
}









