
ul.pagination {
  padding-left: 1px;
  li {
    @extend .page-item;
    background-color: transparent;
    border: 0;

    a {
      @extend .page-link;
      background-color: transparent !important;
      border: 0  !important;
    }
    .page-link{
      padding: .5rem .75rem;
      border: 0  !important;
      line-height: 1;
    }

    .current.page-link{
      background-color: red;
      color: #fff;
    }

    margin-right: 3px;

  }
}
